
{% extends 'products/base.html' %}
{% load humanize %}
{% block content %}
<div class="container">
  <div class="row">
    <div class="col-md-8 offset-md-2">
      <h1 class="mb-4">Orders</h1>
      <hr>
      {% if object_list %}
        <table class="table table-hover">
          <thead class="thead-dark">
            <tr>
              <th scope="col">#</th>
              <th scope="col">Status</th>
              <th scope="col">Created</th>
              <th scope="col">Total</th>
              <th scope="col">Action</th>
            </tr>
          </thead>
          <tbody>
            {% for order in object_list %}
              <tr>
                <td scope="row">{{ order.id }}</td>
                <td>{{ order.get_status_display }}</td>
                <td>{{ order.created_at|naturaltime }}</td>
                <td>{{ order.basket_history.total_cart_price }}$ </td>
                <td >
                  <a href="{% url 'orders:order_detail' order.id %}">Detail of the order</a>
                </td>

              </tr>
            {% endfor %}
          </tbody>
        </table>
      {% else %}
        <p>No orders</p>
      {% endif %}
    </div>
  </div>
</div>
{% endblock %}

