{% extends 'products/base.html' %}

{% block content %}
  <div class="container">
    <div class="row">
      <div class="col-md-8 mx-auto">
        <h1 class="my-4">About Us</h1>
        <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Vivamus ut leo sit amet massa tristique imperdiet at a tellus. Nunc ut mi euismod, maximus augue et, accumsan nulla. Praesent vel odio sagittis, varius purus id, sollicitudin justo. Sed in urna dignissim, ornare urna nec, sagittis nisl. Nullam ut nisi faucibus, maximus magna sed, lacinia ipsum. Sed vestibulum, urna ac bibendum finibus, sapien ipsum faucibus elit, nec euismod elit elit eget elit. Donec in tellus ac sapien congue venenatis id non urna.</p>
        <p>Phasellus posuere pretium sapien, sed ultricies quam fermentum ac. Nulla gravida nisi est, eget bibendum odio tincidunt vitae. Curabitur ac interdum quam, a varius eros. Nunc id ultrices neque, at fermentum nisi. Aliquam ac varius leo. Donec aliquam efficitur justo. Vivamus sed dolor lacus. Duis at ipsum augue.</p>
      </div>
    </div>
  </div>
{% endblock %}
